body {
    text-align: center;
    background: blanchedalmond;
}
header {
    margin: auto;
    background: cadetblue;
    border-radius: 15px;
    width: 80%;
    height: 30px;
}

nav {
    margin: auto;
    width: 80%;
    height: 30px;
    background: brown;
}