body {
    background: black;
}

header{
    margin: auto;
    background: burlywood;
    width: 80%;
    height: 50px;
    
} 

nav {
    margin: auto;
}

article {
    margin: auto;
}

section {
    margin: auto;
}

aside {
    margin: auto;
}

footer {
    margin: auto;
}