body {
    background: black;
    text-align: center;
}

header {
    margin: auto;
    width: 50%;
    height: 40px;
    background: burlywood;
}

nav {
    margin: auto;
    width: 50%;
    height: 40px;
    background: cornsilk;
}

article {
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 45px;
    width: 50%;
    height: 100px;
    background: cadetblue;
}

section {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    height: 40px;
    background: darksalmon;
}

footer {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 25px;
    background: darkorchid;
}