body{
    text-align: center;
    background: darkgray;
}

header {
    margin: auto;
    width: 90%;
    height: 50px;
    background: cornflowerblue;
}

nav {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 50px;
    background: goldenrod;
   
}
article {
    margin: auto;
    display: inline-block;
    width: 90%;
    height: 150px;
    background: forestgreen;
}