body {
    background: black;
}

header{
    margin: auto;
    background: burlywood;
    height: 80%;
    width: 50%;
} 

nav {
    margin: auto;
}

article {
    margin: auto;
}

section {
    margin: auto;
}

aside {
    margin: auto;
}

footer {
    margin: auto;
}