body {
    background: black;
    text-align: center;
}

header {
    margin: auto;
    width: 90%;
    height: 40px;
    background: burlywood;
}

nav {
    margin: auto;
    width: 90%;
    height: 40px;
    background: cornsilk;
}

article {
    display: inline-block;
    margin: auto;

  
    margin-bottom: 20px;
    margin-right: 18px;
    width: 58%;
    height: 200px;
    background: cadetblue;

    /*display: inline-block;
    margin: auto;
    margin-right: 18px;
    margin-bottom: 20px;
    width: 58%;
    height: 200px;
    background: #F79F81;*/
}

section {
    margin: auto;
 

    width: 97%;
    height: 150px;
    background: darksalmon;

    /* margin-top: 25px;
    margin:auto;
    width: 97%;
    height: 150px;
    background: #FA8258;*/
}

footer {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 25px;
    background: darkorchid;
}