/*plantilla css3*/

/* estilo body */
body {
    text-align: center;
   }
   
   #principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;

    text-align: center;
    border: 2px solid #999999;
    background: #DDDDDD;
    /*instancia border radius para cambiar esquinas*/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; 

    /* box-shadow */
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
     box-shadow: rgb(150,150,150) 5px 5px; 
   }
   #titulo {
    font: bold 36px verdana, sans-serif;
    
   } 