/* quitamos margenes a todo */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
/* color de fondo */
body {
    background-color: bisque;
}

.navegacion {
    margin: 30px auto;
    width: 300px;
    background: #fff;

}
/* quitamos viñetas de la lista */
.navegacion ul{
    list-style: none;
}