
/* menu */
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* items del menu ul li*/
#menu ul li {
    background-color:bisque;
   }

/* enlaces del menu */
#menu ul a{
    display: block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

/* items del menu again */

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }