/* quitamos margenes a todo */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
/* color de fondo */
body {
    background-color:azure;
}

.navegacion {
    margin: 30px auto;
    width: 500px;
    background: #fff;

}
/* quitamos viñetas de la lista */
.navegacion ul{
    list-style: none;
}
/* opciones menu al lado */
.menu > li{
    display: inline-block;
}

.menu >li >a{
    display: block;

    padding: 15px 20px; /*rellenamos*/
    font-family:sans-serif;
    text-decoration: none;/*quitamos el subrayado */

}
/* cambios en los li y los a */
/* creamos hover */
.menu li a :hover {
    color:chartreuse;
    transition: all .3s;

}
/* submenu */
.submenu_js{
    position: absolute;
    background:#fff;
    width: 120%;
    visibility: hidden;
    opacity: 0;



} 

.submenu_js li a{
    display: block;
    padding : 15px;
    color : #fff;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
 .menu li:hover .submenu_js{
     visibility: visible;
     opacity: 1;
 }